@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
}
body{
    min-height:100vh;
    margin:0;
    padding:0;
    display: flex;
    flex-direction:row;
    align-items: center;
    font-family: 'Poppins';
    font-size: 15px;
    color:#555;
    background-color:#f2f7f9;
}
.contain{
    position: relative;
}
.container{
    width:1370px;
    height:550px;
    display:flex;
    flex-direction: row;
    box-shadow: 2rem;
    margin:0 auto;
    position:relative;
    left:0;
    right:0;
    z-index: 1;
}
.left{
    color:white;
    z-index: -1;
    position:relative;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width:400px;
    box-shadow: 0 0 100px -5px rgba(0,0,0,.25);
    background-color:#04b4e0f3;
    border-radius: 32px 0 0 32px;
}
.left .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:370px;
    align-items: center;
    height:420px;
}
.left h2{
    margin-top: 30px;
    margin-bottom:0;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 2.3em;
}
.left h4{
    margin-bottom:0;
    margin-top:10px;
    font-size: 1.2em;
    font-weight:lighter;
}
.left .social ul{
    margin:0;
    margin-top:15px;
    padding:0;
    list-style-type: none;
    display: flex;
    width:50px;
    flex-direction: row;
    justify-content: space-between;
}
.social ul li i{
    color:white;
    font-size: 1.4em;
}
.left .footer{
    position: absolute;
    bottom:0;
}
.left .me{
    width:175px;
    border-radius:50%;
    background-image: url('../media/images/me.jpg');
    height:175px;
    border: 3.5px solid white;
    background-size: cover;
}
.center{
    width:900px;
    border-radius: 32px;
    margin-left:-30px;
    background-color: white;
    box-shadow: 0 0 100px -5px rgba(0,0,0,.25);
    overflow-y: scroll;
    overflow-x:hidden;
    position: relative;
    z-index: 2;
}
nav{
    background-color: white;
    border-radius: 2rem;
    margin-left: 55px;
    height:380px;
    position:absolute;
    right:0;
    z-index: 3;
}
.nav-mobile{
    opacity:1;
}
nav ul{
    margin: 0;
    padding: 0;
    width:70px;
    align-items: center;
    display: flex;
    height:100%;
    justify-content: space-around;
    flex-direction: column;
    list-style-type: none;
}

.contain{
    margin:0;
    width: 780px;
    margin:0 auto;
    margin-top:45px;
}
.main{
    
    height:550px;
    padding:0;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:black;
    align-items: center;
    margin:-45px;
    position:absolute;
    inset:0;
    transition:0.8s all ease-in-out 1s;
}
.main .job{
    margin:10px;
    font-family: "Poppins";
    color:#046179f3;
    font-size: 24px;
    font-weight: 300;
}
.main h2{
  
   font-size: 60px;
    line-height: 74px;
    margin: 0;
    color:#06728df3;
}
.about .about_content{
    display: flex;
    flex-direction: row;
    
}
.about{
    font-weight: 350;
    position: absolute;
    top:-20px;
    transition:0.8s all ease-in-out 1s;
    opacity:0;
    inset:0;
}
.about .about_left{
    width:450px;
    line-height: 25px;
    font-weight: 350;
}
.about_right ul{
    list-style-type: none;
    margin-left: 40px;
    padding:0;
    line-height: 40px;
}
.about_info_title{
    color:#04b4e0f3;
    font-weight: bold;
}
.mypass_content{
    display: flex;
    width:80%;
    justify-content: space-between;
    color:white;
}
.mypass_content div{
    margin:0;
    padding:0;
    border:2px solid #04b4e0f3;
    height:50px;
    width:150px;
    border-radius:32px;
    text-align:center;
    padding-top:12px;
    color: #04b4e0f3;
}
.mypass_content h4{
    margin:0;
    
}

.studies ul,.expe ul{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    position:relative
}
.studies ul li,.expe ul li{
    display: flex;
    flex-direction: row;

}
.studies .studies_left,.expe .expe_left{
    width:120px;
    font-weight:100;
    color:rgba(85, 85, 85, 0.688);
    font-size: 0.9em;
}
.studies h3,.expe h3{
    color:#012b36f3;
    font-size:0.99em;
}
.formation,.expskills{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top:-20px;
    transition:0.8s all ease-in-out 1s;
    opacity:0;
    inset:0;
}
.formation h2,.expskills h2{
    color:#06809ff3;
}
.studies .studies_right, .expe .expe_right{
    border-left:0.1px solid rgba(128, 128, 128, 0.351);
    padding-left:20px;
    width:240px;
}
.formation .indicator,.expskills .indicator{
    display: block;
    width:11px;
    height:11px;
    border:3px solid #04b4e0f3;
    box-shadow: 0px 0px 0px 2.5px #04b4e06a;
    border-radius:50%;
    position:absolute;
    left:115px;
    margin-top:21px;
    background-color: white;
}
.progress-circle{
    position: relative;
    height:130px;
    width:130px;
    border-radius: 50%;
    background: conic-gradient(#04b4e0 250deg,#04b4e01c 0deg);
    display: flex;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
}
.progress-circle2{
    position: relative;
    height:130px;
    width:130px;
    border-radius: 50%;
    background: conic-gradient(#04b4e0 200deg,#04b4e038 0deg);
    display: flex;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
}
.progress-circle:before{
    content:"";
    position:absolute;
    height:105px;
    width:105px;
    border-radius: 50%;
    background-color: rgba(243, 243, 243, 0.851);
}
.progress-circle2:before{
    content:"";
    position:absolute;
    height:105px;
    width:105px;
    border-radius: 50%;
    background-color: rgba(243, 243, 243, 0.851);
}
.progress-circle .progress-value,.progress-circle2 .progress-value{
    position: relative;
}
  .en_cours_content{
    padding: 30px;
    width:350px;
    height:220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border:2px solid #04a8d1b7;
    box-shadow: 0 0 15px -5px #04b4e0f3;
    border-radius: 5rem;
  }
  .en_cours{
    margin-left:50px;
  }
  .en_cours h2{
    margin-left:25px;
    color:#0790b2f3
  }
  .others_content{
    margin:0;
    padding:0;
    display: flex;
    width:800px;
    justify-content: space-between;
    text-align: center;
  }
  .others_content .other{
    margin:0;
    display: flex;
    box-sizing: content-box;
    color: #04b4e0f3;
    height:110px;
    border: 2px solid #04b4e0f3;
    border-radius: 8px;
    box-shadow: 0 0 10px -5px #04b4e0f3;
  }
.others_content .other .other_left{
    width:100px;
    text-align: center;
    padding-left:20px
}
.other_left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.other_right{
    border-left: 2px solid #04b4e0f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.other_right h3{
    margin:33px;
    margin-bottom: 0;
    padding: 0;
    color: #04b4e0f3;
    
}
.other_right span{
    color: #04b4e0b2;
    font-weight: lighter;
   
}
.expskills .expe_right p{
    margin-bottom: -5px;
    font-size: .9em;
}
.expe .expe_right{
    width:320px;
}
.skills{
    margin-left:50px;
}
.my_skills .bar{
    width:250px;
    border:1px solid #04b4e0f3;
    border-radius:8px;
    height:10px;
    padding:1.5px;
    
}
.b{
    width:0
}
.my_skills .progress_bar{
    background-color:#04b4e0f3;
    border-radius:8px;
    width: 90%;
    height:5.5px;
    padding:2px;
    transition:0.9s all ease-in-out .6s
}
.my_skills .progress_bar1{
    background-color:#04b4e0f3;
    border-radius:8px;
    width: 70%;
    height:5.5px;
    padding:2px;
    transition:0.9s all ease-in-out .6s
}
.my_skills .progress_bar2{
    background-color:#04b4e0f3;
    border-radius:8px;
    width: 60%;
    height:5.5px;
    padding:2px;
    transition:0.9s all ease-in-out .6s
}
.my_skills .progress_bar3{
    background-color:#04b4e0f3;
    border-radius:8px;
    width: 50%;
    height:5.5px;
    padding:2px;
    transition:0.9s all ease-in-out .6s
}
.my_skills ul{
    list-style-type: none;
    margin:0;
    padding:0
}
.my_skills h4{
    margin-bottom:5px;
    margin-top: 13px;
    font-size: .9em;
    color:#121212;
}
.interet ul{
    width:250px;
    display: flex;
    flex-wrap: wrap;
    margin:-10px;
    padding:0;
    list-style-type: none;
}
.interet ul li {
    margin-left:10px;
    padding:3px;
    color:#f2f7f9;
    background-color: #04b4e0f3;
    border-radius:.3rem;
    margin-top:5px
}
.projects{
    position:absolute;
    opacity: 0;
    inset: 0;
    padding:0;
    top:-40px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.projects .achivements{
    display: flex;
    width:230.8%;
    transition: 1s all ease-in-out;
    justify-content: space-between;
    
}
.projects .achivement{
    width:800px;
    position: relative;
}
.projects .slides{
    display: flex;
    border-radius: 20px;
    padding: 10px 10px;
    box-shadow: 0 0 30px -5px rgba(0,0,0,.25);
    background-color: #087e9c99 ;
    align-items: center;
    position: relative;
    z-index: 1;
}
.projects .slides .maine{
   position: relative;
   width: 80%;
   
}
.projects .maine:hover img:not(.fleche){
    opacity: 0.7;
}
.projects .maine:hover .fleche{
    opacity: 1;
    box-shadow: 0 0 30px -5px rgba(0,0,0,.25);
}
.achivement .flechse{
    width: 45px;
    float: right;
}
.maine .fleche{
    position:absolute;
    top:150px;
    right:10px;
    width: 45px;
    background-color: white;
    border-radius: 100%;
    padding: 10px;
    z-index: 1;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}
.achivement .fleche-slide:hover{
    border-radius: 100%;
    background-color:#087e9c99 ;
}
.fleche:hover{
    background-color:#04627941;
}
.projects .right{
    color:white;
    text-align: center;
    width:400px;
    height:150px;
    position: relative;
    z-index: 1;
}
.projects .achivement h3{
    margin-top:0
}
.projects .maine img:not(.fleche){
    margin-left: ;
    width:100%;
    height: 350px;
    margin-top: 0px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px -5px rgba(0,0,0,.25);
    padding: 0;
    z-index: 1;
    transition:0.4s all ease-in-out;
}


.contact{
    position:absolute;
    inset: 0;
    top:-40px;
    opacity:0;
    transition:0.8s all ease-in-out 1s;
    z-index:4
}
.contact h2{
    color:#121212;
}
.contact form{
    display: flex;
    flex-direction: column;
    margin-top:-12px
}
.contact form input{
    height:40px;
    border-radius: .3rem;
    border:2px solid rgba(85, 85, 85, 0.389);
    font-size:1.1em;
    padding-left:10px;
    color: #555;
}

@keyframes error {
    10%{
        transform: translateX(-5px); 
    }
    20%{
        transform: translateX(5px);
    }
    30%{
        transform: translateX(-5px);
    }
    40%{
        transform: translateX(5px);

    }
    50%{
        transform: translateX(-5px);

    }
    60%{
        transform: translateX(5px);
    
    }
    70%{
        transform: translateX(-5px);
       
    }
    80%{
        transform: translateX(5px);
        
    }
    90%{ 
        transform: translateX(-5px);
       
    }
    100%{
        transform: translateX(5px);
        
    }
}
form textarea{
    border-radius: .3rem;
    border:2px solid rgba(85, 85, 85, 0.389);
    font-size:1.1em;
    padding-left:10px;
    color: #555;
    font-family: "Poppins";
  }
.contact form input:focus,form textarea:focus{
    border:2px solid #04b4e0f3;
    outline: none;
}
.contact form label{
    color:#04b4e0f3;
}
.formation .indicator{
    display:block;
}
.expskills .indicator{
    display: block;
}
.error{
    animation:error 400ms ease-in-out;
}
.contact form .send{
    background-color: #04b4e0f3;
    color:white;
    height:40px;
    border:none;
    border-radius: .4rem;
    margin-top:15px;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
}
.send:disabled{
    background-color:red ;
}
@media only screen and (max-width: 1370px) {
    .container{
        width:1200px;
    }
    .contain{
        width:95%;
    }
    .left{
        width:30%;
    }
    .center{
        width:65%;
    }
    .formation,.about,.contact{
        top:-35px;
        height:620px;
    }
    .formation .studies,.expskills .expe{
        width:47.7%;
    }
    .formation .en_cours{
        width:50%;
        margin:0;
    }
    .formation .en_cours_content{
        padding:20px;
        width:100%;
        height:auto;
    }

    .formation .indicator{
        left:31.5%;
    }
    .expskills .indicator{
        left:25.4%;
    }

    .formation .other_studies{
        width:100%;
    }
    .formation .others_content{
        flex-direction: column;
        width:100%;
    }
    .formation .other{
        margin:0 auto;
        width:100%;
        margin-top:20px;
    }
  
  .projects .achivement{
    width:43%;
  }
}
  @media only screen and (max-width: 1024px){
    .container{
        height:1000px;
        
    }
    .left{
        display: none;
    }
    nav{
        height:100%;
        
    }
    nav .nav-btn{
        display:none;
    }
    .center{
        margin:0 auto;
        width:100%;
        border-radius:0em;
    }
    .contain{
        width:88%;
        position:absolute;
        inset:0
    }
    .formation .en_cours_content{
        padding:20px;
        width:100%;
        height:auto;
        justify-content: space-around;
        align-items: center;
       
    }
    .formation .progress-circle{
        margin-bottom:15px;
    }
    .formation .indicator{
        display: block;
    }
    .expskills .indicator{
        display: block;
    }
   
    nav .nav-mobile{
        background-color: #04b4e0;
        color:white;
        width:330px;
        padding:30px 30px 10px;
        display:none;
        position: absolute;
        right:0;
        top:0;
        justify-content: flex-start;
        transition:all .5s ease-in-out;
        font-size:1.5em ; 
    }
    nav .nav-mobile li{
        font-size: 0.85em;
        font-weight:lighter;
        line-height: 50px;
        transition: .1s all ease-in-out;
    }
    nav .nav-mobile li:hover{
        font-size: 1em;
    }
    .show_nav_mob{
        height:48px;
        width:48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top:14px;
        background-color: #04b4e0f3;
        border-radius:30px;
        cursor: pointer;
        z-index: 2;
        position: absolute;
        right:12px;
        top:8px;
    }
    .show_nav_mob span{
        height:3px;
        width:25px;
        background-color:white;
        border-radius: 5rem;
        margin-top: 3px;
        opacity: 1;
        transform-origin: left center;
        transition:.5s all ease-in-out;
    }
    .projects .achivements{
        flex-direction: column;
        transform: none;
      }
      .projects .achivement{
        
        margin-bottom: 50px;
      }
      .achivement_header img{
        display: none;
      }
    }
  @media only screen and (max-width: 653px) {
    .expskills{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    } 
   .expskills .expe{
        width:100%;

    }
    .skills{
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .formation .studies{
        width: 100%;;
    }
   .formation .en_cours{
        width:100%
    }
    .about .about_content{
       flex-direction: column;
    }
    .about .about_left{
        width: 100%;
    }
    .about .about_right ul{
        margin-left: 0;
    }
    .about .mypass_content{
        width: 100%;
        flex-direction: column;
    }
   .about .mypass_content div{
    width:100%;
    margin-top: 20px;
  }
  .formation .indicator{
    display: none;
}
    .expskills .indicator{
    display: none;
}
  .projects .slides{
    flex-direction: column;
    justify-content: baseline;
  }
  .projects .slides .main ,.projects .slides .maine{
    width: 100%;
    height:200px
  }
  .projects .slides .main img:not(.fleche),.projects .slides .maine img:not(.fleche){
    width: 100%;
    height:100%;

  }
}
